{% extends "base.html" %}}
{% block content %}
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">PhotoShare REST API GoIT team project app</span>
      </a>
      <form class="d-flex justify-content-end mb-3 mb-lg-0" role="search">
        <input type="search" class="mx-4 form-control" placeholder="Tag..." aria-label="Tag">
          <input type="search" class="mx-4 form-control" placeholder="Author..." aria-label="Author">
      </form>
    </div>
  </header>

<main>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
           hx-get="/photos/?offset=0&limit=10"
           hx-trigger="load"
           hx-swap="innerHTML"
           hx-indicator="#loading"
      >
      <img  id="spinner" class="htmx-indicator" src="{{ url_for ('static', path='/img/gears-spinner.svg')}}"/>
      </div>
    </div>
  </div>
</main>
{% if user %}
<div class="position-absolute top-1 end-0">
  <a href="/photos/add" class="btn-primary btn mx-5">Add photo</a>
</div>
{% endif %}
{% endblock %}
