{% extends "base.html" %}}
{% block content %}
<div class="form-signin w-50 m-auto">
    <form action="/auth/login" method="post">
    <h1 class="h3 mb-3 fw-normal py-1">Please sign in</h1>
    <div class="form-floating py-2">
      <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username" required>
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating py-2">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating py-2 w-50 m-auto">
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </div>
  </form>
</div>
{% endblock %}