{% if photo_list %}
{% for photo in photo_list %}
<div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top"
                 width="100%" height="225"
                 src="{{ photo.url }}"
                 alt="{{ photo.description }}">
            <div class="card-body clear-fix">
              <p class="card-text">Description: {{ photo.description }}</p>
                <p class="card-text">Author: {{ photo.author }}
                    <span class="px-4">Comments: {{ photo.comments_num }}</span></p>
                <p class="card-text">Tags:
                    {% for tag in photo.tags %}
                        <span>{{ tag }} </span>
                    {% endfor %}
                </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
{% endfor %}
{% else %}
<p>No photos found</p>
{% endif %}
