{% if photo_list %}
{% for photo in photo_list %}
<div class="col">
          <div class="card shadow-sm">
              <a href="{{ url_for('get_photo_id', photo_id=photo.id) }}">
            <img class="card-img-top"
                 width="100%" height="225"
                 src="{{ photo.url }}"
                 alt="{{ photo.description }}"></a>
            <div class="card-body clear-fix">
              <p class="card-text">{{ photo.description }}</p>
                <p class="card-text">Author: {{ photo.author }}
                    <span class="px-4">Comments: {{ photo.comments_num }}</span></p>
                <p class="card-text">Tags:
                    {% for tag in photo.tags %}
                        <a href="{{ url_for('get_photos_by_tag', tag_name=tag) }}" class="text-primary mx-2">{{ tag }} </a>
                    {% endfor %}
                </p>
            </div>
          </div>
        </div>
{% endfor %}
{% else %}
<p>No photos found</p>
{% endif %}
